* {
	box-sizing: border-box;
}

body {
	background-image: url("../../whirlpool.png");
	margin: 0;
}

header{
	
	position: relative;
	display: block;
	max-width: 100%;
	margin: 0 auto;
	padding: 10px;
	color: #fff;
	background: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#top {
	display: inline;
	float: left;
	padding: 10px;
	background: #4aaaa5;
	color: white;
	margin-left: 15%;
}

nav {
	padding-left: 0;
	margin-bottom: 0;
	margin-right: 15%;
	margin-top: 0;
	list-style: none;
	float: right;
	display: inline;
}

nav li {
	position: relative;
	display: inline-block; 
	list-style-type: none;
	padding: 0 1rem;
}

.container {
	position: relative;
	display: inline;
	width: 650px;
	margin-left: 15%;
	margin-top: 5%;
	color: #fff;
	background: white;
	font-family: serif;
	float: left; 
}

#title {
	color: #4aaaa5;
	display: inline; 
	width: 650px;
	float: left;
	padding: 15px;
}

#prof {
	display: inline;
	float: left;
	padding: 15px;
}

#bio {
	color: black;
	display: inline;
	padding: 10px;
}